@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 200vh;
}



header {
	background-color: #617143;
	color: white;
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100000;
	display: flex;
	justify-content: space-between;
	align-items: center; /* Center vertically */
	transition: 0.6s;
}

header h1 {
	font-size: 1.0rem;
	font-weight: bold;
}

header .logo img {
    position: relative;
    width: 60px;
    border-radius: 30px;
    float: left;

  
    margin-right: 15px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    position: relative;
    text-decoration: none;
    padding: 6px 15px;
    color: #f0edd4;
    border-radius: 20px;
    transition: 0.6s;
    margin: 0 5	px;
}


header ul li a:hover {
    background: #f0edd4;
    color: #748e63;
}


nav {
	margin-top: 20px;
	display: flex;
	align-items: center; /* Align vertically in the flex container */
}

nav ul {
	display: flex; /* Display items horizontally */
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	margin-right: 70px; /* Adjust the spacing between items */
}

nav ul li {
    margin-right: 70px; /* Adjust the horizontal spacing between items */
    margin-bottom: 20px; /* Adjust the margin-top to move the navigation links higher */
}

nav a {
	text-decoration: none;
	color: white;
	margin: 0 5	px;
	font-size: 1.3rem;
	transition: color 0.3s ease;
}



main {
	margin-top: 60px;
}

footer {
	background-color: #617143;
	color: white;
	text-align: center;
	position: fixed;
 	bottom: 0;
	left: 0;
	right: 0;
}













section {
    min-height: 100vh;
}

#home {
    background:#c8b6a6;
    justify-content: center;
    align-items: center;
    color: #fcf5ed;
    display: flex;
}

#home h2 {
    font-family: 'croissant one', sans-serif;
    text-align: center;
    font-size: 8rem;
        line-height: 1.2;
        margin-bottom: 1rem;
}

#home h2 span{
    color: #a9b388;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.7), 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 255, 0.7);
}

#home h3 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

#home .scroll {
    width: 52px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-left: 39%;
    background-size: 100% 200%;
    border-radius: 100px;
  
}

.logo-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.logo-container img {
    margin-right: 10px; /* Adjust the margin as needed */
    max-width: 100px; /* Adjust the max-width as needed */
}

#about {
    display: flex;
    align-items: center;
    color: white;
    background-image: url(./images/about-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#about h2 {
    font-family: 'poppins', sans-serif;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 4px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.5);
    margin-left: 70px;
    font-size: 50px;
    font-weight: 700;
    justify-content: left;
}


#about p {
    width: 79vw;
    margin-left: 70px;
    font-size: 20px;
    text-align: left;
    font-weight: 540;
    justify-content: left;
}

#about a {
    position: absolute;
    right: 0;
    margin-top: 100px;
    margin-right: 70px;
    justify-content: right;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: #748e63;
    color: #fff4e0;
    font-size: 1em;
    z-index: 9;
    cursor: pointer;
}

#about a:hover {
    background: #fff4e0;
    color: #748e63;
}

#donation {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #fff4e0;
    background-image: url(./images/donation-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
}

#donation h2 {
    font-family: 'poppins', sans-serif;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 4px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.5);
    margin-right: 70px;
    font-size: 50px;
    font-weight: 700;
}

#donation p {
    width: 79vw;
    margin-right: 70px;
    font-size: 20px;
    text-align: right;
    font-weight: 540;
}

#donation a {
    position: absolute;
    left: 0;
    margin-top: 100px;
    margin-left: 70px;
    justify-content: left;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: #748e63;
    color: #fff4e0;
    font-size: 1em;
    z-index: 9;
    cursor: pointer;
}

#donation a:hover {
    background: #fff4e0;
    color: #748e63;
}

#volunteer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #c8b6a6;
    background-size: cover;
    background-repeat: no-repeat;
}

#volunteer h2 {
    font-family: 'poppins', sans-serif;
   
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}

#volunteer p {
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-weight: 540;
}

#volunteer a {
  	display: flex;
    position: absolute;
    align-items: center; 
	text-align: center;
	margin-left: 10px;
	position: absolute;
 

    justify-content: center;
    text-decoration: none;
    padding: 8px;
    border-radius: 40px;
    background-color: #662459;
    color: #fff4e0;
    font-size: 1em;
   
    cursor: pointer;
}

#volunteer a:hover {
    background: #fff4e0;
    color: #662459;
}